/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/dummy/db/*.sqlite3
/spec/dummy/log/*
/spec/dummy/public/system/
/spec/reports/
/spec/test_pdfs/*.jpg
/tmp/
/vendor/bundle
/uploads
.byebug_history
.DS_Store
